@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/icons/background.jpeg") center center;
}

.load {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-top-color: white;
  border-bottom-color: white;
  border-radius: 100%;
  animation: 0.5s infinite ease-in-out circle;
}
dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}

@keyframes circle {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
